.mother-div {
  display: flex;
  background-color: orange;
  align-items: center;
  justify-content: center;
}
.Link {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Link:hover {
  color: rgba(0, 0, 0, 0.678);
}
.header {
  height: max-content;

  display: flex;
  flex-direction: column;
  width: 60%;
  align-self: center;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top img {
  color: aliceblue;
  width: 200px;
}
.item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item {
  display: flex;
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
}
.item i {
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 4px;
}
.item p {
  margin: 0;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
.search {
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
.button-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.search input {
  height: 32px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 10px;
  width: 490px;
}
.search p {
  margin: 0;
  background-color: white;
  height: 32px;
  border: none;
  padding-right: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: orange;
}
.button-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  border: none;
}
.button-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 80, 20);
  border: none;
  color: white;
  padding: 8px;
  margin-left: 15px;
}
.button-cart:hover {
  background-color: rgba(231, 80, 20, 0.815);
}
.button-cart i {
  margin-right: 5px;
}
.button-cart p {
  font-size: 13px;
  margin: 0;
}
.button-login i {
  margin-right: 5px;
}
.button-login p {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
}
.header-bottom {
  display: flex;
  justify-content: space-between;
}

.navigationbar {
  height: 50px;
  background-color: rgb(62, 119, 119);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.singerContent {
  display: flex;
  justify-content: flex-start;
  height: auto;
  width: auto;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  border: solid 0.1px rgba(0, 0, 0, 0.233);
}
.singerContent:hover {
  box-shadow: 3px 3px 3px 3px #888888;
}
.singerContent img {
  height: 350px;
  width: 250px;
}
.singerContent i {
  margin: 10px;
  color: rgba(0, 0, 0, 0.452);
}
.p-name {
  margin: 10px;
  padding-left: 10px;
  padding-top: 10px;
  color: blueviolet;
}
.p-d {
  margin: 10px;
  padding-left: 10px;
}
.p-p {
  margin: 10px;
  padding-left: 10px;
  color: red;
  font-weight: bold;
}
.singerContent p {
  font-size: 13px;
  margin: 0;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 60%;
  background-color: white;
  padding: 30px;
}
.p-item {
  display: flex;
  justify-content: flex-start;
  width: 60%;
  background-color: white;
  margin: 0;
  margin-bottom: 1px;
  margin-top: 15px;
  font-size: 25px;
  padding: 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.mother-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: rgba(247, 184, 68, 255);
  padding-bottom: 20px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.slide {
  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
}
.slide img {
  height: 25rem;
}
.header-content {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
  padding: 10px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.233);
}
.header-content p {
  margin: 0;
  margin-top: 10px;
}
.header-content i {
  font-size: 25px;
  margin-right: 10px;
}
.p-top {
  margin-top: 10px;
}
#facebook {
  color: blue;
}
#youtube {
  color: red;
}
#gg {
  color: orange;
}
.detail {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(247, 184, 68, 255);
}
.detail-content {
  display: flex;
  justify-content: flex-start;
  width: 60%;
  flex-direction: column;
  background-color: white;
  margin: 20px;
}
.detail-content img {
  height: 35%;
  width: 95%;
  align-self: flex-start;
  margin: 20px;
}
#i-detail {
  margin: 0;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.share-detail i {
  margin-left: 20px;
  font-size: 30px;
}
.share-detail {
  margin-bottom: 20px;
}
.hover-add {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  margin-top: 20px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 23px;
  margin-left: 7px;
}
.dropdown-content p {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  margin: 0px;
  width: 100%;
}
.dropdown-content p:hover {
  background-color: #ddd;
}

#hover-add:hover .dropdown-content {
  display: block;
}
.server img {
  width: 100px;
  height: 200px;
}
.value-profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
}

.value-profile label {
  width: 150px;
  color: black;
}
.value-profile input {
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.466);
}
.value-profile input:focus {
  border: 1px solid orange;
}
.value-profile input:hover {
  border: 1px solid orange;
}
#sex-label {
  width: 83px;
}
#html {
  width: auto;
}
.form-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-bottom: 70px;

  padding-top: 50px;
  border-bottom: solid 1px #888888;
  background-color: rgba(221, 221, 221, 0.493);
}
#cars {
  margin-right: 8px;
  width: 93px;
}
.form-profile p {
  margin-bottom: 50px;
}
.img-profile {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img-profile img {
  width: 200px;
  height: 200px;
  border-radius: 500px;
}
#avatar {
  margin: 10px;
  font-size: 26px;
}
.form-profile1 {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(221, 221, 221, 0.493);
}
/*Loginpage.css*/
.login {
  width: 100%;
  height: 500px;
}
.login form {
  width: 425px;
  height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0 0 2px 2px rgb(219, 125, 125), 0 0 4px 4px rgb(161, 161, 161);
}
.login h2 {
  align-items: flex-start;
}
.login input {
  width: 300px;
  height: 35px;
  margin-top: 15px;
  border: 1px rgb(139, 133, 133) solid;
  border-radius: 5px;
}
.login button {
  width: 300px;
  height: 35px;
  color: #fff;
  background-color: rgb(216, 212, 212);
  font-size: 15px;
  border: none;
  margin-top: 15px;
  border-radius: 5px;
}
.login a {
  width: 300px;
  height: 35px;
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  justify-content: flex-end;
  text-decoration: none;
}
.login p {
  width: 300px;
  height: 35px;
  color: rgb(82, 83, 83);
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  justify-content: flex-end;
}
/*-------------------------------------------------------*/

/*Registerpage.css*/
.register {
  width: 100%;
  height: 500px;
}
.register form {
  width: 425px;
  height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0 0 2px 2px rgb(219, 125, 125), 0 0 4px 4px rgb(161, 161, 161);
}
.register h2 {
  align-items: flex-start;
}
.register input {
  width: 300px;
  height: 35px;
  margin-top: 15px;
  border: 1px rgb(139, 133, 133) solid;
  border-radius: 5px;
}
.register button {
  width: 300px;
  height: 35px;
  color: #fff;
  background-color: rgb(216, 212, 212);
  font-size: 15px;
  border: none;
  margin-top: 15px;
  border-radius: 5px;
}
.register a {
  width: 300px;
  height: 35px;
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  justify-content: flex-end;
  text-decoration: none;
}
.register p {
  width: 300px;
  height: 35px;
  color: rgb(82, 83, 83);
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  justify-content: flex-end;
}

/*--------------------------------------------------------*/
/*repasswordpage*/

.newpassword {
  width: 100%;
  height: 500px;
}
.newpassword form {
  width: 425px;
  height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0 0 2px 2px rgb(219, 125, 125), 0 0 4px 4px rgb(161, 161, 161);
}
.newpassword input {
  width: 300px;
  height: 35px;
  margin-top: 15px;
  border: 1px rgb(139, 133, 133) solid;
  border-radius: 5px;
}
.newpassword button {
  width: 300px;
  height: 35px;
  color: #fff;
  background-color: rgb(216, 212, 212);
  font-size: 15px;
  border: none;
  margin-top: 15px;
  border-radius: 5px;
}

/*-----------------------------------------------------------*/
/*Cartpage.css*/
.header {
  color: white;
}
.cart {
  width: 100%;
  background-color: rgb(248, 248, 248);
  margin-top: 15px;
}
.menuline {
  width: 80%;
  height: 30px;
  margin: auto;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.menuline .menuline_content {
  width: 300px;
}
.product {
  width: 80%;
  margin: auto;
  margin-top: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.product .pro_namecontent {
  width: 300px;
  font-size: 13px;
  display: flex;
  justify-content: center;
}
.product .pro_namecontent a {
  color: black;
  margin-left: 5px;
  text-decoration: none;
  flex-wrap: wrap;
}
.product .pro_quantity #quantity {
  width: 15px;
}

.buy {
  width: 80%;
  max-height: 100px;
  margin: auto;
  margin-top: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 13px;
  /*position: fixed;
    bottom: 0;
    right: 145px;*/
}
.buy .buy_total {
  display: flex;
}
.buy input {
  border: none;
  background-color: #fff;
}
.buy #buy2 {
  border: none;
  background-color: rgb(252, 131, 62);
}
.footer {
  height: 500px;
  background-color: black;
  color: #fff;
}

/*------------------------------------------------------*/
/*Buypage.css*/
.buypage {
  width: 100%;
  background-color: rgb(248, 248, 248);
}
.content_address {
  width: 80%;
  background-color: #fff;
  margin: auto;
  margin-top: 10px;
}
.content_address .subcontent_address1 {
  margin-left: 15px;
}
.content_address .subcontent_address2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-left: 30px;
}
.content_product1 {
  width: 80%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin: auto;
  margin-top: 15px;
}
.content_product1 .subcontent_sanpham {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content_product2 {
  width: 80%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.content_product2 .subcontent_detail {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content_product2 a {
  margin-left: 5px;
  text-decoration: none;
  color: black;
}
.content_product2 .subcontent_detail p {
  margin-left: 5px;
  color: rgb(175, 175, 174);
}
.content_product3 {
  width: 80%;
  margin: auto;
  margin-top: 15px;
  background-color: #fff;
}

.content_PTTT {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content_detailPTTT {
  justify-content: flex-end;
  align-items: center;
}
.sub1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.sub2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.sub3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.okbuy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.okbuy input {
  border: none;
  border-radius: 3px;
  background-color: #ee4d2d;
  width: 220px;
  height: 45px;
}
