/*loginpage*/
.login{
width: 100%;
height: 500px;;
}
.login form{
  width: 425px;
  height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:auto;
  margin-top: 20px;
  box-shadow: 0 0 2px 2px rgb(219, 125, 125),
              0 0 4px 4px rgb(161, 161, 161);
}
.login h2{
  align-items: flex-start;
}
.login input{
  width: 300px;
  height: 35px;
  margin-top: 15px;
  border: 1px rgb(139, 133, 133) solid;
  border-radius: 5px;
}
.login button{
  width: 300px;
  height: 35px;
  color: #fff;
  background-color: rgb(216, 212, 212);
  font-size: 15px;
  border: none;
  margin-top: 15px;
  border-radius: 5px;
}
.login a{
  width: 300px;
  height: 35px;
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  justify-content: flex-end;
  text-decoration: none;
}
.login p{
  width: 300px;
  height: 35px;
  color: rgb(82, 83, 83);
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  justify-content: flex-end;
}
/*----------------------------*/

/*registerpage*/
.register{
  width: 100%;
  height: 500px;;
  }
  .register form{
    width: 425px;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-top: 20px;
    box-shadow: 0 0 2px 2px rgb(219, 125, 125),
                0 0 4px 4px rgb(161, 161, 161);
  }
  .register h2{
    align-items: flex-start;
  }
  .register input{
    width: 300px;
    height: 35px;
    margin-top: 15px;
    border: 1px rgb(139, 133, 133) solid;
    border-radius: 5px;
  }
  .register button{
    width: 300px;
    height: 35px;
    color: #fff;
    background-color: rgb(216, 212, 212);
    font-size: 15px;
    border: none;
    margin-top: 15px;
    border-radius: 5px;
  }
  .register a{
    width: 300px;
    height: 35px;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    justify-content: flex-end;
    text-decoration: none;
  }
  .register p{
    width: 300px;
    height: 35px;
    color: rgb(82, 83, 83);
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    justify-content: flex-end;
  }

/*-----------------------------*/
/*repasswordpage*/

.newpassword{
  width: 100%;
  height: 500px;;
  }
  .newpassword form{
    width: 425px;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-top: 20px;
    box-shadow: 0 0 2px 2px rgb(219, 125, 125),
                0 0 4px 4px rgb(161, 161, 161);
  }
  .newpassword input{
    width: 300px;
    height: 35px;
    margin-top: 15px;
    border: 1px rgb(139, 133, 133) solid;
    border-radius: 5px;
  }
  .newpassword button{
    width: 300px;
    height: 35px;
    color: #fff;
    background-color: rgb(216, 212, 212);
    font-size: 15px;
    border: none;
    margin-top: 15px;
    border-radius: 5px;
  }
